<div ng-controller="AuthController as auth">
<h2>Sign In</h2>

<input type="text" ng-model="auth.username" placeholder="username"><br>
<input type="password" ng-model="auth.password" placeholder="password"><br>
<br>

<button ng-click="auth.register()" ng-hide="auth.isAuthed()">Register</button>
<button ng-click="auth.login()" ng-hide="auth.isAuthed()">Login</button>
<button ng-click="auth.logout()" ng-show="auth.isAuthed()">Logout</button>
<button ng-click="auth.profile()">View Profile</button>
<div>{{ auth.message }}</div>
</div>
